@model FeedViewModel
@{
    ViewData["Title"] = "News Feed";
}

<div id="NoSupport" style="display:none;">
    Your browser does not support Push Notifications or you have blocked notifications
</div>

<input id="endpoint" name="endpoint" hidden />
<input id="p256dh" name="p256dh" hidden />
<input id="auth" name="auth" hidden />
<input id="idDevice" name="idDevice" hidden />
<input id="isSubscribed" name="isSubscribed" hidden value="false"/>
<input id="sk" name="sk" hidden value="@ViewBag.applicationServerkey" />

<div class="container">
    @Html.HiddenFor(m => m.refreshTime, new { @id = "refreshTime" })
    <div class="row justify-content-center">

        <h3>Borwse News by Date</h3>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.startDate, "{0:yyyy-MM-dd}", new { placeholder = "Select Date", @id = "startDate", @class = "form-control" })
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Start Date</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.endDate, "{0:yyyy-MM-dd}", new { placeholder = "Select Date", @id = "endDate", @class = "form-control" })
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">End Date</span>
                </div>
            </div>
        </div>
        <div class="col">
            <button id="btnApply" type="button" class="btn btn-primary">Apply</button>
        </div>
    </div>
    <div class="row">
        <div id="articles"></div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/js/CreateDevice.js")"></script>
    <script>
    var applicationServerPublicKey = '@ViewBag.PublicKey';
    </script>

    <script type="text/javascript">
        var setIntervalId = 0;
        var refreshTime = 60;
        $(document).ready(function () {
            
            refreshTime = $('#refreshTime').val();
            $('#startDate').datepicker({
                dateFormat: 'yy-mm-dd',
            });
            $('#endDate').datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $('#btnApply').click(function () {
                GetArticles();
            });
            GetArticles();
            //setIntervalId = setInterval(UpdateFeeed, refreshTime * 1000);

        });

        function stopInterval() {
            console.log("Int Stop");
            clearInterval(setIntervalId);
            setIntervalId = 0;
        }

        function UpdateFeeed() {
            console.log("feed updated");
            GetArticles();
        }

        function GetArticles() {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var subscribed = $("#isSubscribed").val();
            var uid = localStorage.uid;
            var url = '/Home/PartialFeed'
            if (startDate || endDate) {
                stopInterval();
            } else if (setIntervalId === 0) {
                setIntervalId = setInterval(UpdateFeeed, refreshTime * 1000);
                console.log("Int RUN" + setIntervalId);
            }
            $.ajax({
                type: 'POST',
                url: url,
                cache: false,
                async: true,
                dataType: 'html',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    subscribed: subscribed,
                    uid: uid
                },
                success: function (result) {
                    $('#articles').html(result);
                },
                error: function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                }
            });
        }

    </script>
}

